<section class="hero is-info is-fullheight">
    {% extends "base.html" %}
    {% block content %}
    <div class="box content" style="margin: auto 20%;">
        <div class="title">故事背景</div>
        <p>在天域的古老傳說中，有一位神秘的女神名叫摩托卡。她掌控著天域的魔力，並擁有操控光與色彩的神聖能力。某一天，摩托卡決定釋放她內心深處的七彩之力，這股強大的魔力迅速充滿了天域的每一個角落，最終在天域中形成了七座神奇的湖泊。這七座湖泊如彩虹般各具不同的顏色和力量，並隱藏著無盡的神秘生物和珍稀寶物。
        </p>
        <p>每個湖泊都象徵著彩虹的七個顏色，並且有著獨特的挑戰和冒險：</p>
        <ol>
            <li>
                <p><strong>天一湖</strong>（紅色）：這是最初的湖泊，難度最低，湖水宛如日落的餘暉，微光中蘊藏著力量。湖中棲息著初級魔力魚類，適合釣魚新手。傳說，湖底隱藏著火之精靈的寶藏。</p>
            </li>
            <li>
                <p><strong>天心湖</strong>（橙色）：這個湖泊的水光閃耀著暖橙色的光芒，像是永恆的黃昏。湖中的生物充滿活力，但也更具挑戰。據說，天心湖中的魚類有著迅猛的速度與力量，隱藏著勇氣與希望的古代符文。
                </p>
            </li>
            <li>
                <p><strong>天正湖</strong>（黃色）：這座湖泊象徵著智慧與意志，其湖水如耀眼的黃金般閃爍。這裡的魚類擁有神秘的預知能力，能感知釣者的心意，只有最沉著的釣魚者才能從這裡獲得稀有的神秘寶物。
                </p>
            </li>
            <li>
                <p><strong>天苑湖</strong>（綠色）：天苑湖的湖水如翡翠般清澈透明，這是自然之力最為濃厚的地方。湖中的魚類與植物共存，捕捉這裡的生物需要與大自然融為一體。據說，湖中隱藏著治癒之力的寶物。
                </p>
            </li>
            <li>
                <p><strong>天聖湖</strong>（藍色）：這座湖泊深邃且寧靜，湖水如同星空倒映在其中。天聖湖的生物多為古老而智慧的水生生物，它們擁有悠久的歷史和深遠的智慧。傳聞，湖底藏著神聖的藍色水晶，擁有強大的魔力。
                </p>
            </li>
            <li>
                <p><strong>天情湖</strong>（靛色）：天情湖籠罩著神秘的氛圍，湖水深邃如夜空般散發著靛藍的光芒。這裡的魚類極為罕見，且與湖泊本身有著精神上的連結。據說，唯有擁有純粹心靈的釣者才能從天情湖中釣上珍稀的靛色魚類，並發現隱藏在深處的真理寶藏。
                </p>
            </li>
            <li>
                <p><strong>天神湖</strong>（紫色）：這是天域最具挑戰的湖泊，湖水深紫如同天神的力量化身。只有最勇敢的冒險者才能抵達這裡。湖中的生物擁有強大的靈性與魔法能力。據說，湖底沉睡著女神摩托卡親自賦予的終極寶物，能實現任何願望。
                </p>
            </li>
        </ol>
        <p>摩托卡將這七座湖泊賦予人類，作為對冒險者的挑戰與恩賜。每位釣魚者將面臨湖泊中的挑戰，並有機會獲得神秘的力量和寶物。然而，只有那些具有智慧、勇氣和純淨心靈的釣魚者才能最終征服七座湖泊，並解開摩托卡遺留下來的終極謎團。釣魚的過程中不僅是技術的較量，更是對心靈和勇氣的考驗。
        </p>

    </div>
    {% endblock %}
</section>