<section class="hero is-info is-fullheight">
    {% extends "base.html" %}
    {% block content %}
    <div class="box content" style="margin: auto 20%;">
        <div class="title">遊戲說明</div>
        <p>每位玩家在遊戲中擁有三個關鍵屬性：<strong>體力</strong>、<strong>金錢</strong> 和 <strong>物品</strong>。玩家在遊戲開始時會有10,000
            點的體力</strong>，並能透過釣魚來獲取各種物品與生物。這些物品和生物有四項主要屬性：</p>
        <ol>
            <li>
                <p><strong>稀有度</strong>：物品和生物的稀有度等級範圍為1至10，其中 <strong>1</strong> 代表最為稀有，而 <strong>10</strong>
                    為最常見。稀有度影響玩家獲取某個物品或生物的機率。具體來說，獲取稀有度為3的物品機率是獲取稀有度為7的 <strong>3/7 倍</strong>，越稀有的物品或生物越難捕獲。
                </p>
            </li>
            <li>
                <p><strong>重量</strong>：每個物品和生物都有其對應的重量，重量決定了玩家在捕獲過程中消耗的體力。重量越大的物品會消耗玩家更多的體力，捕獲重型生物或物品需要玩家在體力管理上作出合理的策略考量。
                </p>
            </li>
            <li>
                <p><strong>價錢</strong>：每個物品和生物都具有市場價值，捕獲後可以在商店或集市出售，換取遊戲中的金錢收入。稀有度越高、功能越獨特的物品通常擁有更高的價值，能為玩家帶來豐厚的收益。
                </p>
            </li>
            <li>
                <p><strong>功能</strong>：部分物品和生物具有特殊功能，這些功能可能會幫助玩家在遊戲中進行進一步的探索和製作。例如，某些物品可以用來製作更高級的釣竿，提升玩家的捕魚效率，而某些稀有生物則可能帶來強大的增益效果。
                </p>
            </li>
        </ol>
        <p>每個湖泊的環境和生態系統都不同，釣到的物品和生物也會有所差異。有些湖中的物品適合用來<strong>製作釣竿</strong>等釣魚工具，幫助玩家應對更高難度的湖泊；而另一些湖中可能有價值極高的珍稀物品，能為玩家帶來可觀的金錢收益。隨著玩家探索不同的湖泊，他們需要合理分配資源、管理體力，並策略性地選擇釣點以最大化他們的收益與進展。
        </p>
        <strong>
            <p style="color: red;">注意：體力最大值為10000，體力小於0的時候會永久死亡</p>
        </strong>
    </div>
    {% endblock %}
</section>